<h1>New Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |form| %>
  <%= form.association :movie, collection: Movie.all, label_method: :title, value_method: :id, include_blank: false, label: 'Select Movie' %>
  <%= form.input :comment, label: 'Comment' %>

  <%= form.submit 'Create Bookmark' %>
<% end %>

<%= link_to 'Return', list_path(@list) %>
